body {
    background: rgb(81, 134, 233);
    font: normal 15pt Arial;
}
header {
    text-align: center;
    color: white;
}
section {
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background: white;
    padding: auto;
    width: auto;
    margin: auto;
    height: 150px;
    
}
footer {
    text-align: center;
    font-style: italic;
    color: white;
}
div {
    text-align: center;
    padding: 5px;
}
#bmanha {
    width: 60px;
    margin-bottom: 10px; 
}
#btarde {
    width: 60px;
    margin-bottom: 10px;
}
#bnoite {
    width: 60px;
    margin-bottom: 10px;
}
#bcontrole {
    float: left;
    margin: 0px 0px 0px 50px;
}
#foto {
   
}